.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 70%;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group textarea {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #b9b6b6;
  border-radius: 5px;
  width: 100%;
  outline: none;
}

.form-group.error textarea {
  border-color: #eb4040; 
}

.form-group textarea:hover {
  outline: 1px solid #6a6d6b;
  border: none;
}

.form-group textarea {
  resize: none;
}

.textarea-wrapper {
  display: flex;
  align-items: center;
}

.under-textarea-wrapper {
  display: flex;
  align-items: center;
}

.character-count {
  margin-left: auto;
  padding-top: 5px;
  font-size: 14px;
  color: #6a6d6b;
  /* text-align: right; */
}

.error-message {
  margin-top: 4px;
  font-size: 12px;
  color: #eb4040;
  /* text-align: left; */
}

